/*-------- General ----------------*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container-fluid {
  padding: 25px;
  font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
}
.form-group {
  margin-bottom: 0;
}
.control-label {
  margin-top: 10px;
}
.small-width, .navbar {
  max-width: 1000px;
  margin: auto;
}
p {
	font-size: 14px;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0 50px;
}
h3 {
  font-size: 21px;
  font-weight: bold;
}
h5 {
	font-size: 21px;
	font-weight: 300;
}
a[data-toggle=modal]:focus,
a[data-toggle=modal]:hover,
.dropdown-toggle:hover,
 .dropdown-toggle:focus {
  outline: none;
  text-decoration: none;
}
/*-------- Navigation panel ------  */
.navbar {
}
.navtab {
  padding: 10px 15px;
}
.nav-tabs {
  float: left;
  border-bottom: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: white;
  background-color: #366eae;
  border: 1.2px solid #366eae;
  border-bottom-color: #366eae;
}
.nav-tabs>li>a {
    margin-right: 0;
    background-color: white;
    border: 1.2px solid #366eae;
    color: #366eae;
    width: 50px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.nav-tabs>li>a:hover {
  background-color: white;
  border: 1.2px solid #366eae;
}
.nav-tabs>li>a[data-value="Plot"] {
  border-radius: 10px 0 0 10px;
  text-align: right;
}
.nav-tabs>li>a[data-value="Evidence Table"] {
  border-radius: 0 10px 10px 0;
}
.option-buttons-outer {
  padding-left: 0;
}
.dropdown, .option-buttons-inner {
  float: right;
}
#btn-weights,
#btn-interventions,
#btn-options,
#btn-instructions {
  padding: 17px 15px 0;
  display: block;
  color: #366eae;
  font-size: 15px;
}
/*-------- Option panels ----------*/
#options,
#weights,
#interventions {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 20px;
}
/*-------- Plot/Table area --------------*/
.tabbable {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
#button-expand {
  float: right;
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: -1px 6px 0 0;
  background-color: transparent !important;
  border: 1px solid #e3e3e3;
  color: #a9a9a9;
  font-size: smaller;
}
#button-expand:hover {
  background-color: #e3e3e3 !important;
}
/*-------- Text area -------------*/
#button-expand-text {
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: -1px 6px 0 0;
  background-color: white;
  border: 1px solid #e3e3e3;
  color: #a9a9a9;
  font-size: 0.75em;
}
.text {
  text-align: justify;
  line-height: 1.6;
}
.img-responsive {
	float: left;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
	.funding {
		border-style: none none none solid;
		border-width: 1px;
		border-color: #e3e3e3;
	}
}

/*-------- Overlay ------  */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128,128,128,0.1);
    z-index: 2;
    cursor: pointer;
}
.overlay-inner{
  margin-top: 140px;
}
.target{
  display: block;
	position: relative;
}
.arrow {
  position: absolute;
  width: 55px;
	height: 123px;
}
.overlay-text {
  position: absolute;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Montez', cursive; */
  font-size: 20px;
  font-weight: bold;
  color: #ce151e; /*gray*/
}
#arrow-toggle{
  background: url(arrow-curved.svg) no-repeat;
	top: -20px;
	left: 110px;
  -webkit-transform: scale(0.3,0.35) rotate(235deg);
  -ms-transform: scale(0.3,0.35) rotate(235deg);
    transform: scale(0.3,0.35) rotate(235deg);
}
#text-toggle {
  margin-left: 30px;
}
#arrow-info {
  background: url(arrow-straight.svg) no-repeat;
	top: -10px;
	right: 230px;
  -webkit-transform: scale(0.35,0.35) rotate(90deg);
  -ms-transform: scale(0.35,0.35) rotate(90deg);
    transform: scale(0.35,0.35) rotate(90deg);
}
#text-info {
  top: 39px;
	right: 285px;
}
#arrow-options{
  background: url(arrow-straight.svg) no-repeat;
	top: -37px;
	right: 168px;
  -webkit-transform: scale(0.3,0.35) rotate(135deg);
  -ms-transform: scale(0.3,0.35) rotate(135deg);
    transform: scale(0.3,0.35) rotate(135deg);
}
#text-options {
  top: -1px;
	right: 212px;
}
#arrow-interv {
  background: url(arrow-straight.svg) no-repeat;
	top: -40px;
	right: 74px;
  -webkit-transform: scale(0.3,0.35) rotate(212deg) rotateY(180deg);
  -ms-transform: scale(0.3,0.35) rotate(212deg) rotateY(180deg);
    transform: scale(0.3,0.35) rotate(212deg) rotateY(180deg);
}
#text-interv {
  top: -13px;
	right: -48px;
}
#arrow-weights {
  background: url(arrow-straight.svg) no-repeat;
	top: -15px;
	right: -21px;
  -webkit-transform: scale(0.3,0.35) rotate(244deg);
  -ms-transform: scale(0.3,0.35) rotate(244deg);
    transform: scale(0.3,0.35) rotate(244deg);
}
#text-weights {
  top: 13px;
	right: -127px;
}

/*-------- Media Queries -------------*/
@media screen and (max-width: 1450px) {
  #arrow-toggle {
    left: 120px;
  }
  #arrow-weights {
    top: 9px;
  	right: -22px;
    -webkit-transform: scale(0.3,0.35) rotate(244deg);
    -ms-transform: scale(0.3,0.35) rotate(244deg);
        transform: scale(0.3,0.35) rotate(-56deg) rotateY(180deg);
  }
  #text-weights {
    top: 83px;
  	right: -43px;
  }
}
@media screen and (max-width: 1300px) {
  #arrow-options {
    top: 20px;
    right: 158px;
    -webkit-transform: scale(0.3,0.35) rotate(135deg);
    -ms-transform: scale(0.3,0.35) rotate(135deg);
    transform: scale(0.3,0.35) rotate(49deg) rotateY(180deg);
}
  #text-options {
      top: 83px;
      right: 201px;
  }
  #arrow-interv {
    top: -37px;
    right: 97px;
    -webkit-transform: scale(0.3,0.35) rotate(212deg) rotateY(180deg);
    -ms-transform: scale(0.3,0.35) rotate(212deg) rotateY(180deg);
    transform: scale(0.3,0.35) rotate(133deg) rotateY(0deg);
  }
  #text-interv {
    top: -9px;
    right: 36px;
  }
  #arrow-weights {
    top: 24px;
    right: 23px;
    -webkit-transform: scale(0.3,0.35) rotate(244deg);
    -ms-transform: scale(0.3,0.35) rotate(244deg);
    transform: scale(0.3,0.35) rotate(-8deg) rotateY(180deg);
  }
  #text-weights {
    top: 92px;
    right: -8px;
    width: 100px;
  }
  #text-options {
    top: 83px;
    right: 201px;
}
  #arrow-options {
      top: 20px;
      right: 158px;
      -webkit-transform: scale(0.3,0.35) rotate(135deg);
      -ms-transform: scale(0.3,0.35) rotate(135deg);
        transform: scale(0.3,0.35) rotate(49deg) rotateY(180deg);
  }
}
@media screen and (max-width: 1220px) {
  #arrow-toggle {left: 140px;}
  #arrow-info {right: 249px;}
  #text-info {right: 301px;}
  #arrow-options {right: 183px;}
  #arrow-weights {right: 38px;}
  #text-weights {right: 19px;}
  #arrow-interv {right: 119px;}
}
@media screen and (max-width: 985px){
  .overlay-inner {
    margin-top: 170px;
  }
}
