/*-------- General ----------------*/
body {
  font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container-fluid {
  padding: 0 25px ;
}
.form-group {
  margin-bottom: 0;
}
.control-label {
  margin-top: 10px;
}
.small-width, .navbar {
  max-width: 1000px;
  margin: auto;
}
p {
	font-size: 14px;
}
h1 {
  font-size: 21px;
  text-align: center;
  margin: 0;
  padding: 20px 0 30px;
  color: white;
}
@media only screen and (min-width: 992px) {
	h1 {
		font-size: 28px;
	  padding: 30px 0 40px;
	}
}
@media only screen and (min-width: 1400px) {
	h1 {
		font-size: 42px;
  	padding: 40px 0 50px;
	}
}
h3 {
  font-size: 21px;
  font-weight: bold;
}
h5 {
	font-size: 21px;
	font-weight: 300;
}
a[data-toggle=modal]:focus,
a[data-toggle=modal]:hover,
.dropdown-toggle:hover,
 .dropdown-toggle:focus {
  outline: none;
  text-decoration: none;
}
/*---------Top navigation---------*/
.topnav {
	display: block;
	width: 100%;
	padding: 10px 0;
	background-color: #f9c013;
}

/*------------ Header ------------*/
header {
	background-color: #15346d;
}

/*-------- Navigation panel ------  */
.navbar {
	border-bottom: 1.2px solid #e3e3e3;
	margin-bottom: 10px;
}
.navtab {
  padding: 10px 15px;
}
.nav-tabs {
  float: left;
  border-bottom: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: white;
  background-color: #15346d;
  border: 1.2px solid #15346d;
  border-bottom-color: #15346d;
}
.nav-tabs>li>a {
    margin-right: 0;
    background-color: white;
    border: 1.2px solid #15346d;
    color: #15346d;
    width: 50px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.nav-tabs>li>a:hover {
  background-color: white;
  border: 1.2px solid #15346d;
}
.nav-tabs>li>a[data-value="Plot"] {
  border-radius: 10px 0 0 10px;
  text-align: right;
}
.nav-tabs>li>a[data-value="Evidence Table"] {
  border-radius: 0 10px 10px 0;
}

.option-buttons-outer {
  padding-left: 0;
}
.dropdown, .option-buttons-inner {
  float: right;
}
#btn-weights,
#btn-interventions,
#btn-options,
#btn-instructions {
  padding: 17px 15px 0;
  display: block;
  color: #15346d;
  font-size: 15px;
}
/*-------- Option panels ----------*/
#options,
#weights,
#interventions {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 20px;
}
/*-------- Plot/Table area --------------*/
.results-panel {
	padding-top: 10px;
	background-color: #fdfaf1;
}
.tabbable {
  padding-top: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
}
#button-expand {
  float: right;
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: 30px 26px 0 0;
  background-color: #fdfaf1;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #e3e3e3;
  color: #a9a9a9;
  font-size: smaller;
}
#button-expand:hover {
  background-color: #e3e3e3 !important;
}
/*-------- Text area -------------*/
#button-expand-text {
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: -1px 6px 0 0;
  background-color: #fdfaf1;
  border: 1px solid #e3e3e3;
  color: #a9a9a9;
  font-size: 0.75em;
}
.text {
  text-align: justify;
  line-height: 1.6;
}
.img-responsive {
	float: left;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}
/*-------- Footer -------------*/
footer {
	color: white;
	margin-top: 20px;
	background-color: #15346d;
}
footer .row {
	max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}
@media only screen and (min-width: 992px) {
	.funding {
		border-left: 5px solid #f9c013;
	}
}

/*-------- Overlay ------  */
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}
.overlay-inner{
  margin-top: 140px;
}
.target{
  display: block;
	position: relative;
}
.arrow {
  position: absolute;
  width: 55px;
	height: 123px;
}
.overlay-text {
  position: absolute;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Montez', cursive; */
  font-size: 23px;
  line-height: 1;
  font-weight: bold;
  color: #ce2227; /*gray*/
}
.overlay-options {
	padding: 0 25px;
}
.overlay-plot {
	position: absolute;
	padding-left: 400px;
	width: 100%;
}
#arrow-toggle{
  background: url(arrow-straight.svg) no-repeat;
	top: -40px;
	left: 100px;
  -webkit-transform: scale(0.3,0.35) rotate(-113deg);
  -ms-transform: scale(0.3,0.35) rotate(-113deg);
  transform: scale(0.3,0.35) rotate(-113deg);
}
#text-toggle {
  left: 140px;
  top: 0;
}
#arrow-info {
    background: url(arrow-straight.svg) no-repeat;
    top: -41px;
    right: -5px;
    -webkit-transform: scale(0.3,0.25) rotate(207deg);
    -ms-transform: scale(0.3,0.25) rotate(207deg);
    transform: scale(0.3,0.25) rotate(207deg);
}
#text-info {
    top: -6px;
    right: -125px;
}
#arrow-options {
  background: url(arrow-curved.svg) no-repeat;
  top: -43px;
  right: 217px;
  -webkit-transform: scale(0.35,0.35) rotate(93deg);
  -ms-transform: scale(0.35,0.35) rotate(93deg);
  transform: scale(0.35,0.35) rotate(93deg);
}
#text-options {
  top: 4px;
	right: 267px;
  text-align: right;
  width: 180px;
}
#circle-options{
  position: absolute;
  top: 6px;
  right: 33px;
}
ellipse {
  -webkit-transform: scale(0.9,0.9) rotate(66deg);
  -ms-transform: scale(0.9,0.9) rotate(66deg);
    transform: scale(0.9,0.9) rotateX(66deg);
}
#arrow-score {
  background: url(arrow-curved.svg) no-repeat;
  top: 42px;
  left: 79%;
  -webkit-transform: scale(-0.35,0.35) rotate(23deg);
  -ms-transform: scale(-0.35,0.35) rotate(23deg);
  transform: scale(-0.35,0.35) rotate(23deg);
}
#text-score {
  width: 200px;
  top: 122px;
  right: 9%;
}
#arrow-bar {
  background: url(arrow-straight.svg) no-repeat;
  top: 144px;
  left: 66%;
  -webkit-transform: scale(0.35,0.3) rotate(-29deg);
  -ms-transform: scale(0.35,0.3) rotate(-29deg);
  transform: scale(0.35,0.3) rotate(-29deg);
}
#text-bar {
  width: 180px;
  top: 216px;
  left: 68%;
}
#text-intro {
  width: 190px;
  top: 326px;
  left: 66%;
  padding-left: 30px;
  text-align: center;
  font-size: 26px;
}
#circle-intro {
  position: absolute;
  top: 316px;
  left: 66%;
}
/*-------- Media Queries -------------*/
@media screen and (max-width: 1400px) {
  .overlay-inner {margin-top: 136px;}
}
@media screen and (max-width: 1340px) {
	#text-score {right: 1%;}
}
@media screen and (max-width: 1300px) {
  #arrow-info {
  	right: 25px;
    -webkit-transform: scale(-0.3,0.25) rotate(207deg);
    -ms-transform: scale(-0.3,0.25) rotate(207deg);
    transform: scale(-0.3,0.25) rotate(207deg);
  }
  #text-info {right: 59px;}
}
@media screen and (max-width: 1040px) {
#text-intro {left: 58%;}
#circle-intro {left: 58%;}
}
@media screen and (max-width: 992px){
  #overlay {display: none !important;}
}
