/*-------- General ----------------*/
#small-screen {
  display: none;
	max-width: 750px;
	margin: auto;
	margin-bottom: 10px;
	border: 2px solid darkred;
	border-radius: 20px;
	padding: 0 10px;
	background-color: #ffb3b3;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container-fluid {
  padding: 0 25px ;
}
.form-group {
  margin-bottom: 0;
}
.control-label {
  margin-top: 10px;
}
.small-width, .navbar {
  max-width: 1000px;
  margin: auto;
}
.medium-width {
	max-width: 1400px;
	margin: auto;
}
p {
	font-size: 14px;
}
h1 {
	font-family: 'Minion Pro', Minion, Georgia, 'Times New Roman', serif;
	font-style: italic;
	font-weight: lighter;
	color: #f9c000;
	float: left;
	display: block;
  font-size: 20px;
  margin: 0;
  padding: 20px 0 20px 5px;
  clear: left;
}
@media only screen and (min-width: 500px) {
	h1 {
		padding: 30px 0 30px 30px;
	}
}
@media only screen and (min-width: 580px) {
	h1 {
		font-size: 28px;
		padding: 26px 0 26px 30px;
	}
}
@media only screen and (min-width: 660px) {
	h1 {
		font-size: 36px;
		padding: 22px 0 22px 30px;
	}
}
@media only screen and (min-width: 930px) {
	h1 {
		font-size: 20px;
    padding: 30px 0 30px 30px;
    clear: none;
	}
}
@media only screen and (min-width: 1050px) {
	h1 {
		font-size: 28px;
	  padding: 26px 0 26px 30px;
	  clear: none;
	}
}
@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 36px;
  	padding: 22px 0 22px 30px;
  	clear: none;
	}
}
h3 {
  font-size: 21px;
  font-weight: bold;
}
h5 {
	font-size: 21px;
	font-weight: 300;
}
h6 {
	font-size: 16px;
	font-weight: bold;
}
a[data-toggle=modal]:focus,
a[data-toggle=modal]:hover,
.dropdown-toggle:hover,
 .dropdown-toggle:focus {
  outline: none;
  text-decoration: none;
}
/*---------Top navigation---------*/
.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.topnav li {
	float: right;
}

.topnav li a {
	display: block;
	font-size: 12px;
  padding: 13px 12px;
  height: 60px;
	color: #f9c000;
}

@media only screen and (min-width: 500px) {
	.topnav li a {
	  font-size: 16px;
	  padding: 17px 12px;
	  height: 80px;
	}
}

.topnav li.active a,
.topnav li.active a:hover {
	background-color: #f9c000;
	color: #333333;
}

.topnav li a:hover {
	text-decoration: none;
	background-color: #11418c;
	color: #f9c000;
}

/*------------ Header ------------*/
header {
	background-color: #15346d;
	height: 140px;
}
@media only screen and (min-width: 500px) {
	header {
		height: 160px;
	}
}
@media only screen and (min-width: 930px) {
	header {
		height: 80px;
	}
}

/*-------- Navigation panel ------  */
.navbar {
	border-bottom: 1.2px solid #e3e3e3;
	margin-bottom: 10px;
}
.navtab {
  padding: 10px 15px;
}
.nav-tabs {
  float: left;
  border-bottom: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: white;
  background-color: #15346d;
  border: 1.2px solid #15346d;
  border-bottom-color: #15346d;
}
.nav-tabs>li>a {
    margin-right: 0;
    background-color: white;
    border: 1.2px solid #15346d;
    color: #15346d;
    width: 50px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.nav-tabs>li>a:hover {
  background-color: white;
  border: 1.2px solid #15346d;
}
.nav-tabs>li>a[data-value="Plot"] {
  border-radius: 10px 0 0 10px;
  text-align: right;
}
.nav-tabs>li>a[data-value="Evidence Table"] {
  border-radius: 0 10px 10px 0;
}

#plot-rows {
	float:left;
	list-style-type: none;
	padding: 5px 15px;
}

#plot-rows li {
	float:left;
	display: block;
	font-size: 0.75em;
	font-weight: bold;
}

#plot-rows li select {
	margin: 0 5px;
	padding: 0;
}

.option-buttons-outer {
  padding-left: 0;
}
.dropdown, .option-buttons-inner {
  float: right;
}
#btn-weights,
#btn-interventions,
#btn-options,
#btn-instructions,
#btn-interventions-ce,
#btn-options-ce,
#btn-instructions-ce {
  padding: 17px 15px 0;
  display: block;
  color: #15346d;
  font-size: 15px;
}
a {
	color: #15346d;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#plot_n {
	margin: 0 5px;
	display: block;
	font-size: 0.875em;
	height: 20px;
}
/*-------- Option panels ----------*/
#options,
#weights,
#interventions,
#options-ce,
#weights-ce,
#interventions-ce {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 20px;
}
/*-------- Plot/Table area --------------*/
.results-panel {
	padding-top: 20px;
	background-color: #fdfaf1;
}
.inner-tabs {
  padding-top: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
}
.tab-inner {
	padding: 0 50px;
}

#button-expand {
  float: right;
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: 30px 26px 0 0;
  background-color: #fdfaf1;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #e3e3e3;
  color: #a9a9a9;
  font-size: smaller;
}
#button-expand:hover {
  background-color: #e3e3e3 !important;
}
/*-------- Text area -------------*/
#button-expand-text {
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: -1px 6px 0 0;
  background-color: #fdfaf1;
  border: 1px solid #e3e3e3;
  color: #a9a9a9;
  font-size: 0.75em;
}
.text-panel {
	padding-bottom: 20px;
}
.text {
  text-align: justify;
  line-height: 1.6;
}
.img-responsive {
	float: left;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.side-bar {
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	padding: 0 10px;
	background-color: #bed1f3;
}

.side-bar p {
	font-size: 12px;
}

/*-------- Footer -------------*/
footer {
	color: white;
	background-color: #15346d;
}
footer .row {
	max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

/*-------- Overlay ------  */
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}
.overlay-inner{
  margin-top: 94px;
}
.target{
  display: block;
	position: relative;
}
.arrow {
  position: absolute;
  width: 55px;
	height: 123px;
}
.overlay-text {
  position: absolute;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Montez', cursive; */
  font-size: 23px;
  line-height: 1;
  font-weight: bold;
  color: #ce2227; /*gray*/
}
.overlay-options {
	padding: 0 25px;
}
.overlay-plot {
	position: absolute;
	padding-left: 400px;
	width: 100%;
}
#arrow-toggle{
  background: url(arrow-straight.svg) no-repeat;
	top: -50px;
	left: 100px;
  -webkit-transform: scale(0.3,0.35) rotate(-113deg);
  -ms-transform: scale(0.3,0.35) rotate(-113deg);
  -moz-transform: scale(0.3,0.35) rotate(-113deg);
  -o-transform: scale(0.3,0.35) rotate(-113deg);
  transform: scale(0.3,0.35) rotate(-113deg);
}
#text-toggle {
  left: 140px;
  top: -10px;
}
#arrow-info {
    background: url(arrow-straight.svg) no-repeat;
    top: -41px;
    right: -5px;
    -webkit-transform: scale(0.3,0.25) rotate(207deg);
    -ms-transform: scale(0.3,0.25) rotate(207deg);
    -moz-transform: scale(0.3,0.25) rotate(207deg);
    -o-transform: scale(0.3,0.25) rotate(207deg);
    transform: scale(0.3,0.25) rotate(207deg);
}
#text-info {
    top: -6px;
    right: -125px;
}
#arrow-options {
  background: url(arrow-curved.svg) no-repeat;
  top: -43px;
  right: 217px;
  -webkit-transform: scale(0.35,0.35) rotate(93deg);
  -ms-transform: scale(0.35,0.35) rotate(93deg);
  -moz-transform: scale(0.35,0.35) rotate(93deg);
  -o-transform: scale(0.35,0.35) rotate(93deg);
  transform: scale(0.35,0.35) rotate(93deg);
}
#text-options {
  top: 4px;
	right: 267px;
  text-align: right;
  width: 180px;
}
#circle-options{
  position: absolute;
  top: 6px;
  right: 33px;
}
ellipse {
  -webkit-transform: scale(0.9,0.9) rotate(66deg);
  -ms-transform: scale(0.9,0.9) rotate(66deg);
  -moz-transform: scale(0.9,0.9) rotate(66deg);
  -o-transform: scale(0.9,0.9) rotate(66deg);
  transform: scale(0.9,0.9) rotateX(66deg);
}
#arrow-score {
  background: url(arrow-curved.svg) no-repeat;
  top: 42px;
  left: 79%;
  -webkit-transform: scale(-0.35,0.35) rotate(23deg);
  -ms-transform: scale(-0.35,0.35) rotate(23deg);
  -moz-transform: scale(-0.35,0.35) rotate(23deg);
  -o-transform: scale(-0.35,0.35) rotate(23deg);
  transform: scale(-0.35,0.35) rotate(23deg);
}
#text-score {
  width: 200px;
  top: 122px;
  right: 9%;
}
#arrow-bar {
  background: url(arrow-straight.svg) no-repeat;
  top: 153px;
  left: 71%;
  -webkit-transform: scale(0.5,0.3) rotate(-62deg);
  -ms-transform: scale(0.5,0.3) rotate(-62deg);
  -moz-transform: scale(0.5,0.3) rotate(-62deg);
  -o-transform: scale(0.5,0.3) rotate(-62deg);
  transform: scale(0.5,0.3) rotate(-62deg);
}
#text-bar {
  width: 180px;
  top: 216px;
  left: 75%;
}
#text-intro {
  width: 190px;
  top: 326px;
  left: 76%;
  padding-left: 30px;
  text-align: center;
  font-size: 26px;
}
#circle-intro {
  position: absolute;
  top: 316px;
  left: 76%;
}
/*-------- Media Queries -------------*/
@media screen and (max-width: 1340px) {
	#text-score {right: 1%;}
}
@media screen and (max-width: 1300px) {
  #arrow-info {
  	right: 25px;
    -webkit-transform: scale(-0.3,0.25) rotate(207deg);
    -ms-transform: scale(-0.3,0.25) rotate(207deg);
    -moz-transform: scale(-0.3,0.25) rotate(207deg);
    -o-transform: scale(-0.3,0.25) rotate(207deg);
    transform: scale(-0.3,0.25) rotate(207deg);
  }
  #text-info {right: 59px;}
}
@media screen and (max-width: 1040px) {
#text-intro {left: 58%;}
#circle-intro {left: 58%;}
}
@media screen and (max-width: 992px){
  #overlay {display: none !important;}
}
