/*-------- General ----------------*/
body {
  font-family: 'Open Sans', Helvetica, Arial, Geneva, sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container-fluid {
  padding: 0 25px ;
}
.form-group {
  margin-bottom: 0;
}
.control-label {
  margin-top: 10px;
}
.small-width, .navbar {
  max-width: 1000px;
  margin: auto;
}
p {
	font-size: 14px;
}
h1 {
  font-size: 21px;
  text-align: center;
  margin-top: 0;
  padding: 20px 0 30px;
  color: white;
}
@media only screen and (min-width: 992px) {
	h1 {
		font-size: 28px;
	  padding: 30px 0 40px;
	}
}
@media only screen and (min-width: 1400px) {
	h1 {
		font-size: 42px;
  	padding: 40px 0 50px;
	}
}
h3 {
  font-size: 21px;
  font-weight: bold;
}
h5 {
	font-size: 21px;
	font-weight: 300;
}
a[data-toggle=modal]:focus,
a[data-toggle=modal]:hover,
.dropdown-toggle:hover,
 .dropdown-toggle:focus {
  outline: none;
  text-decoration: none;
}
/*---------Top navigation---------*/
.topnav {
	display: block;
	width: 100%;
	padding: 10px 0;
	background-color: #f9c000;
}

/*------------ Header ------------*/
header {
	background-color: #11418c;
}

/*-------- Navigation panel ------  */
.navbar {
	border-bottom: 1.2px solid #e3e3e3;
	margin-bottom: 10px;
}
.navtab {
  padding: 10px 15px;
}
.nav-tabs {
  float: left;
  border-bottom: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: white;
  background-color: #366eae;
  border: 1.2px solid #366eae;
  border-bottom-color: #366eae;
}
.nav-tabs>li>a {
    margin-right: 0;
    background-color: white;
    border: 1.2px solid #366eae;
    color: #366eae;
    width: 50px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.nav-tabs>li>a:hover {
  background-color: white;
  border: 1.2px solid #366eae;
}
.nav-tabs>li>a[data-value="Plot"] {
  border-radius: 10px 0 0 10px;
  text-align: right;
}
.nav-tabs>li>a[data-value="Evidence Table"] {
  border-radius: 0 10px 10px 0;
}

.option-buttons-outer {
  padding-left: 0;
}
.dropdown, .option-buttons-inner {
  float: right;
}
#btn-weights,
#btn-interventions,
#btn-options,
#btn-instructions {
  padding: 17px 15px 0;
  display: block;
  color: #366eae;
  font-size: 15px;
}
/*-------- Option panels ----------*/
#options,
#weights,
#interventions {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 20px;
}
/*-------- Plot/Table area --------------*/
.tabbable {
  padding-top: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
}
#button-expand {
  float: right;
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: -1px 26px 0 0;
  background-color: transparent !important;
  border: 1px solid #e3e3e3;
  color: #a9a9a9;
  font-size: smaller;
}
#button-expand:hover {
  background-color: #e3e3e3 !important;
}
/*-------- Text area -------------*/
#button-expand-text {
  border-radius: 0 0 5px 5px;
  padding: 0 6px 2px 6px;
  margin: -1px 6px 0 0;
  background-color: white;
  border: 1px solid #e3e3e3;
  color: #a9a9a9;
  font-size: 0.75em;
}
.text {
  text-align: justify;
  line-height: 1.6;
}
.img-responsive {
	float: left;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
}
/*-------- Footer -------------*/
footer {
	color: white;
	margin-top: 20px;
}
footer .row {
	max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}
@media only screen and (min-width: 992px) {
	.funding {
		border-left: 5px solid #f9c000;
	}
}

/*-------- Overlay ------  */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128,128,128,0.1);
    z-index: 2;
    cursor: pointer;
}
.overlay-inner{
  margin-top: 140px;
}
.target{
  display: block;
	position: relative;
}
.arrow {
  position: absolute;
  width: 55px;
	height: 123px;
}
.overlay-text {
  position: absolute;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Montez', cursive; */
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: #ce151e; /*gray*/
}
#arrow-toggle{
  background: url(arrow-straight.svg) no-repeat;
	top: -40px;
	left: 97px;
  -webkit-transform: scale(0.3,0.35) rotate(-113deg);
  -ms-transform: scale(0.3,0.35) rotate(-113deg);
  transform: scale(0.3,0.35) rotate(-113deg);
}
#text-toggle {
  left: 140px;
  top: 0;
}
#arrow-info {
    background: url(arrow-straight.svg) no-repeat;
    top: -41px;
    right: 13px;
    -webkit-transform: scale(0.35,0.3) rotate(177deg);
    -ms-transform: scale(0.35,0.3) rotate(177deg);
    transform: scale(0.35,0.3) rotate(177deg);
}
#text-info {
    top: -16px;
    right: 17px;
}
#arrow-options {
  background: url(arrow-straight.svg) no-repeat;
  top: -46px;
  right: 162px;
  -webkit-transform: scale(0.3,0.35) rotate(123deg);
  -ms-transform: scale(0.3,0.35) rotate(123deg);
  transform: scale(0.3,0.35) rotate(123deg);
}
#text-options {
  top: -6px;
	right: 212px;
  text-align: right;
  width: 180px;
}
svg{
  position: absolute;
  top: 24px;
  right: -162px;
}
ellipse {
  -webkit-transform: scale(0.9,0.9) rotate(66deg);
  -ms-transform: scale(0.9,0.9) rotate(66deg);
    transform: scale(0.9,0.9) rotateX(66deg);
}
#arrow-bar {
  background: url(arrow-straight.svg) no-repeat;
  top: 169px;
  right: -157px;
  -webkit-transform: scale(0.4,0.35) rotate(-89deg);
  -ms-transform: scale(0.4,0.35) rotate(-89deg);
  transform: scale(0.4,0.35) rotate(-89deg);
}
#text-bar {
  width: 180px;
  top: 206px;
  right: -346px;
}
/*-------- Media Queries -------------*/
@media screen and (max-width: 2000px) {
  #arrow-bar {right: 3px;}
  #text-bar {right: -182px;}
}
@media screen and (max-width: 1450px) {
  #arrow-bar {right: 95px;}
  #text-bar {right: -90px;}
}
@media screen and (max-width: 1400px) {
  #arrow-toggle {top: -74px;}
  #text-toggle {top: -34px;}
}
@media screen and (max-width: 1250px) {
  #arrow-bar {right: 140px;}
  #text-bar {right: -40px;}
}
@media screen and (max-width: 1100px) {
  #arrow-bar {right: 167px;}
  #text-bar {right: -15px;}
}
@media screen and (max-width: 1050px) {
  #arrow-toggle {left: 134px;}
  #arrow-info {
    -webkit-transform: scale(0.35,0.3) rotate(200deg);
    -ms-transform: scale(0.35,0.3) rotate(200deg);
    transform: scale(0.35,0.3) rotate(200deg);
  }
  svg {right: -148px;}
  #arrow-bar {right: 170px;}
  #text-bar {
    right: 11px;
    width: 160px;
  }
}
@media screen and (max-width: 992px){
  #overlay {display: none !important;}
}
