/*-------- Options panel ----------*/
.well {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.options, .weights {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin: 0 0 1px;
  padding: 20px;
}
#break-checkbox {
  margin-top: -5px;
}
/*-------- Table area -------------*/
.tabbable {
  padding-top: 15px;
}

/*-------- Media queries ----------*/
@media only screen and (min-width: 1200px) {
  .options, .weights {
    display: block !important;
  }
  #options-tab, #weights-tab {
    display: none;
  }
}
